/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 1000px}
  
/* Set background color and 100% height */
.sidenav {
    position: sticky;
    bottom: 0;
    left: 0;
    padding-top: 200px;
    padding-left: 200px;
    background-color: rgb(234, 235, 244);
    color: #1b112f;
    height: 100%;
}
  
/* Set background color, text and some padding */
footer {
    background-color: #1b0f3e;
    color: white;
    padding: 15px;
}
.navbar-custom {
    background-color: rgb(182, 133, 133);
}
.navbar-custom  .navbar-text{
    color: #0c0627;
}
.pos1{
    font-family: Georgia, serif;
}
.pos2{
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    color: rgb(124, 124, 187);
}
.linkcolor{
    color: rgb(124, 124, 187);
}

.rblock{
    text-align: left;
    padding-top: 180px;
    padding-left: 100px;
    padding-right: 200px;

}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
    height: auto;
    padding: 15px;
}
.row.content {height:auto;}
    
}

.btn-linkedin {
  background: #0E76A8;
  border-radius: 5px;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #084461;
}
.btn-linkedin:link, .btn-linkedin:visited {
  color: #fff;
}
.btn-linkedin:active, .btn-linkedin:hover {
  background: #084461;
  color: #fff;
}

.box-projects{
    height:100px; 
    width:600px; 
    text-align: 
    left; background-color:rgb(248, 248, 248);
    border-color: rgb(156, 153, 159);
    color: black
}